src/main/mule/routing-api-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="053576a0-1a09-46cf-bbab-bab12f8f0101">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a462f84c-a5a4-4cf3-b6b0-4310a1ad4dde" >
        <http:request-connection host="localhost" port="8081" />
    </http:request-config>
    <flow name="routing-api-pocFlow" doc:id="661b7d27-054c-40f9-8edd-781c3f0f33ef" >
        <http:listener doc:name="Router" doc:id="fe2a96da-f2cb-4470-ae79-c94a4197cd58" config-ref="HTTP_Listener_config" path="/router"/>
        <logger level="INFO" doc:name="Logger" doc:id="d4994572-20a2-4c26-8c67-01189fff4b9f" message="Inside Router"/>
        <http:request method="GET" doc:name="Route Request" doc:id="ed75c74a-af80-4e4b-9fb4-a8595bad63ab" config-ref="HTTP_Request_configuration" path="#[&quot;/&quot; ++ attributes.headers['api']]"/>
    </flow>
    <flow name="first-route" doc:id="2c0ff78a-6f1a-4050-ad0e-3d8b686c3bd1" >
        <http:listener doc:name="Listener" doc:id="50675783-e961-475a-b7d2-a4e2b0dce257" config-ref="HTTP_Listener_config" path="/route1"/>
        <set-payload value="route 1" doc:name="Set Payload" doc:id="ad4470cd-e895-40e5-b005-e8386687085d" />
    </flow>
    <flow name="second-route" doc:id="3294d9c1-bb45-4f5d-9a17-baf4799f8ebb" >
        <http:listener doc:name="Listener" doc:id="af60b782-b18a-4cc0-b357-214abd6cfcdd" config-ref="HTTP_Listener_config" path="/route2"/>
        <set-payload value="route 2" doc:name="Set Payload" doc:id="9d6ba3b3-fd84-42ca-9acd-e6f623b3b52f" />
    </flow>
</mule>
